@font-face {
    src: url('../fonts/Recursive_Casual-Bold.ttf');
}

.button {
    -fx-background-color: #6572AE;
    -fx-border-color: #fff;
    -fx-border-width: 7;
    -fx-background-insets: 5px;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-text-fill: #fff;
    -fx-text-style: bold;
    -fx-font-family: 'Recursive Casual';
    -fx-font-size: 24px;
}

.button:hover {
    -fx-background-color: #57639c;
    -fx-scale-y: 1.01;
    -fx-scale-x: 1.01;
    -fx-cursor: hand;
}

.button:pressed {
    -fx-background-color: #313d70;
    -fx-scale-y: 0.99;
    -fx-scale-x: 0.99;
}

#leave_button {
    -fx-background-color: #f00;
    -fx-border-color: #f00;
    -fx-border-width: 7;
    -fx-background-insets: 5px;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-text-fill: #fff;
    -fx-text-style: bold;
    -fx-font-family: 'Recursive Casual';
    -fx-font-size: 18px;
}

#leave_button:hover{
    -fx-scale-y: 1.05;
    -fx-scale-x: 1.05;
    -fx-cursor: hand;
}

#leave_button:pressed{
    -fx-scale-y: 0.98;
    -fx-scale-x: 0.98;
}

#game_background{
    -fx-background-color: #6ABCEA;
}

.split-pane *.split-pane-divider {
    -fx-padding: 0 1 0 1;
    -fx-opacity: 0;
}

#board {
    -fx-background-color: #313858;
    -fx-border-color: #fff;
    -fx-border-width: 15;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5px;
    -fx-border-insets: 10px;
    -fx-background-insets: 15px;
    -fx-font-family: 'Recursive Casual';
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}

.label {
    -fx-font-size: 24px;
    -fx-text-fill: #fff;
}

#board_students {
    -fx-border-color: #fff;
    -fx-border-width: 4;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
}

#players_grid .label{
    -fx-font-size: 18px;
}

#info_label {
    -fx-border-color: #fff;
    -fx-border-width: 3;
    -fx-border-radius: 5;
    -fx-padding: 5px;
    -fx-font-size: 22px;
}

#island:hover{
    -fx-scale-y: 1.04;
    -fx-scale-x: 1.04;
    -fx-cursor: hand;
}

#island:pressed{
    -fx-scale-y: 0.98;
    -fx-scale-x: 0.98;
    -fx-cursor: hand;
}

#cloud:hover{
    -fx-scale-y: 1.02;
    -fx-scale-x: 1.02;
    -fx-cursor: hand;
}

#cloud:pressed{
    -fx-scale-y: 0.98;
    -fx-scale-x: 0.98;
    -fx-cursor: hand;
}

#my_students_board_small_label {
    -fx-font-size: 15px;
}

#card:hover {
    -fx-scale-y: 1.02;
    -fx-scale-x: 1.02;
    -fx-cursor: hand;
}

#card:pressed {
    -fx-scale-y: 0.98;
    -fx-scale-x: 0.98;
    -fx-cursor: hand;
}

#assistant_card:hover {
    -fx-scale-y: 1.02;
    -fx-scale-x: 1.02;
    -fx-cursor: hand;
}

#assistant_card:pressed {
    -fx-scale-y: 0.98;
    -fx-scale-x: 0.98;
    -fx-cursor: hand;
}

#assistant_card_description{
    -fx-background-color: rgba(0, 0, 0, 0.8);
    -fx-background-radius: 17;
}

#assistant_card_description .label{
    -fx-font-size: 32px;
}

#card_selection_layer {
    -fx-background-color: rgba(0, 0, 0, 0.75);
}

#card_selection {
    -fx-background-color: #313858;
    -fx-border-color: #fff;
    -fx-border-width: 15;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 40px;
    -fx-border-insets: 10px;
    -fx-background-insets: 15px;
    -fx-font-family: 'Recursive Casual';
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 0);
}

#selectable_student_view:hover {
    -fx-scale-x: 1.02;
    -fx-scale-y: 1.02;
    -fx-cursor: hand;
}

#selectable_student_view:pressed {
    -fx-scale-x: 0.98;
    -fx-scale-y: 0.98;
    -fx-cursor: hand;
}

.context-menu {
    -fx-background-radius: 20px;
    -fx-background-insets: 20px;
}

.menu-item:focused {
    -fx-background-color: transparent;
}

.menu-item:hover {
    -fx-background-color: #6572AE;
    -fx-background-radius: 20px;
    -fx-cursor: hand;
}